// noto sans
@font-face {
  font-family: 'ns';
  src: url('./NotoSans/NotoSansKR-Black.otf') format('opentype');
  font-weight: 800;
}
@font-face {
  font-family: 'ns';
  src: url('./NotoSans/NotoSansKR-Bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'ns';
  src: url('./NotoSans/NotoSansKR-Medium.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'ns';
  src: url('./NotoSans/NotoSansKR-Regular.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'ns';
  src: url('./NotoSans/NotoSansKR-Light.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'ns';
  src: url('./NotoSans/NotoSansKR-Thin.otf') format('opentype');
  font-weight: 300;
}


// roboto
@font-face {
  font-family: 'roboto';
  src: url('./Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'roboto';
  src: url('./Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'roboto';
  src: url('./Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'roboto';
  src: url('./Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'roboto';
  src: url('./Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 200;
}
