@import '../../../assets/style/functions.scss';
$url: 'https://res.tutoring.co.kr/res/images/evt/202105/oh';

.cards {
  .img {
    width: 100%;
    height: 3248px;
    background: url($url + '/oh_365_pc02-1_img.jpg') no-repeat center;
    background-size: cover;
    @include media-mo {
      height: 1789px;
      background: url($url + '/oh_365_mo02-1_img.jpg') no-repeat center;
      background-size: cover;
    }
  }
}