@import "../../../assets/style/functions.scss";
$route: "https://res.tutoring.co.kr/res/images/evt/202106/bird/";

.count-down {
  background: #f6f6f6;
  padding: 100px 0;
  text-align: center;
  @include media-tamo {
    padding: 89px 0;
  }
  &.is-date-end {
    // TODO: 기간 오늘일때 
    .day, .timer {
      display: none;
    }
    .title-img {
      margin: 0 auto;
      width: 259px;
      height: 259px;
      background: url($route + "bird_end_mo_img.png") no-repeat center;
      background-size: contain;
    }
  }
  .day {
    margin-top: 81px;
    @include media-tamo {
      margin-top: 45px;
    }
    .count-down__number {
      position: relative;
      width: 105px;
      height: 123px;
      font-size: 122px;
      line-height: 113px;
      margin: 0 5px;
      @include media-tamo {
        width: 60px;
        height: 70px;
        font-size: 70px;
        line-height: 66px;
        border-radius: 5px;
      }
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        background: #3D3763;
        height: 5px;
        content:'';
        @include media-tamo {
          height: 3px;
        }
      }
      span {
        position: relative;
        z-index: 1;
        font-weight:inherit;
      }
    }
  }
  .date-end {
    display: none;
  }
  .d-img, .count-down__number {
    vertical-align: middle;
  }
  .d-img {
    display: inline-block;
    margin-right: 14px;
    width: 176px;
    height: 123px;
    background: url($route + "bird_d_pc_img.png") no-repeat center;
    background-size: contain;
    @include media-tamo {
      width: 99px;
      height: 70px;
      background: url($route + "bird_d_img.png") no-repeat center;
      background-size: contain;
    }
  }
  &__number {
    display: inline-block;
    margin: 0 1px;
    width: 62px;
    height: 87px;
    border-radius: 10px;
    background: #150e40;
    color: white;
    text-align: center;
    font-weight: 700;
    @include font(roboto);
    font-size: 50px;
    line-height: 84px;
    @include media-tamo {
      width: 35px;
      height: 50px;
      border-radius: 5px;
      font-size: 40px;
      line-height: 46px;
    }
  }
  .timer {
    margin-top: 42px;
    color: #001f6e;
    font-size: 50px;
    @include font(roboto);
    @include media-tamo {
      margin-top: 21px;
    }
    .dot {
      position: relative;
      display: inline-block;
      width: 24px;
      &:before, &:after {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        width: 7px;
        height: 7px;
        background: #001f6e;
        border-radius: 50%;
        content:'';
      }
      &:before {
        top: -20px;
      }
      &:after {
        bottom: 0;
      }
    }
  }
}

.title-img {
  margin: 0 auto; 
  width: 507px;
  height: 50px;
  background: url($route + "bird_dday_pc_img.png") no-repeat center;
  background-size: contain;
  @include media-tamo {
    width: 256px;
    height: 82px;
     background: url($route + "bird_dday_mo_img.png") no-repeat center;
    background-size: contain;
  }
}