
@import '../../../assets/style/functions.scss';
$route: 'https://res.tutoring.co.kr/res/images/evt/202106/bird/';

.early-bird {
    padding: 100px 0;
    background:#001F6E;
    color: white;
    @include media-tamo {
      padding: 82px 0 80px 0;
    }
  p {
    font-size: 34px;
    text-align: center;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -1px;
    @include media-tamo {
      margin-bottom: 60px;
      font-size: 24px;
      line-height: 30px;
    }
  }
  .img {
    display: block;
    margin: 0 auto;
    margin-top: 127px;
    width: 996px;
    height: 507px;
    background: url($route + "/bird_boon_pc_img.png") no-repeat center;
    background-size: 996px 507px;
    @include media-tamo {
      display: none;
    }
  }
  .img1, .img2 {
    display: none;
    @include media-tamo {
      display: block;
      margin: 0 auto;
    }
  }
  .img1 {
    width: 300px;
    height: 410px;
    background: url($route + "/bird_boon01_mo_img.png") no-repeat center;
    background-size: contain;
  }
  .img2 {
    margin-top: 82px;
    width: 300px;
    height: 497px;
    background: url($route + "/bird_boon02_mo_img.png") no-repeat center;
    background-size: contain;
  }
}