.custom-slide {
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  ul {
    // overflow: hidden;
    width: 100%;
    white-space: nowrap;
    transition: all 1s;
  }
  li {
    display: inline-block;
    width: 100%;
    height: 80px;
    background: #ccc;
    touch-action: pan-left; /* 특정 방향으로의 터치를 사용한 스크롤 허용 */
// touch-action: pan-right;
    // transition: all 2s;
  }
  button {
    min-width: 300px;
    height: 50px;
    background: yellowgreen;
    &.is-end {
      background: #eee;
      pointer-events: none;
    }
  }
}
