$mobile: 767;
$tablet: 1199;
$pc: 1200;
$route: 'https://res.tutoring.co.kr/res/images/evt/202106/bird/';
$eventHappyImageUrl: '//res.tutoring.co.kr/res/images/evt/202105/oh/';
$route2: 'https://res.tutoring.co.kr/res/images/evt/com';

// 폰트 정의 보류
@mixin font($type) {
  @if($type=='ns') {
    font-family: 'NotoSansKR-Black';
  }

  @if($type=='roboto') {
    font-family: 'Roboto-Medium';
  }
}

@mixin media-mo($mode:'default') {
  @media (max-width: $mobile+'px') {
    @content;
  }
}

@mixin media-ta($mode:'default') {
  @media (min-width: $mobile + 1 +'px') and (max-width: $tablet + 'px') {
    @content;
  }
}

@mixin media-tamo($mode: 'default') {
  @media (max-width: $tablet+'px') {
    @content;
  }
}

@mixin media-pc($mode:'default') {
  @media (min-width: $pc+'px') {
    @content;
  }
}

.pc-layer {
  display: block;

  @include media-tamo() {
    display: none;
  }
}

.tamo-layer {
  display: none;

  @include media-tamo() {
    display: block;
  }
}

.m-layer {
  display: none;

  @include media-mo() {
    display: none;
  }
}
.badge-red {
  display: inline-block;
  color: white;
  min-width: 33px;
  line-height: 16px;
  border-radius: 10vw;
  background: #FF1212;
  font-size: 10px;
  text-align: center;
  padding: 0 4px 0 2px;
  box-sizing: border-box;
  margin-right: 7px;
}
.color-red {
  color: #ff1212;
  font-weight: 700;
}

// ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
.Apage {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  @include media-tamo() {
    padding-top: 0;
    flex-direction: column;
  }
  .slide {
    width: 570px;
    height: 570px;
    margin-right: 46px;
    @include media-tamo {
      width: 100%;
      height: 273px;
      margin-right: 0;
    }
  }
  .atype {
    max-width: 583px;
    width: 100%;
    .textarea {
      text-align: left;
      &__title {
        border-bottom: 1px solid #000;
        @include media-tamo() {
          display: none;
        }
        .title {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -1px;
        }
        .date {
          color: #333;
        }
      }
      &__option {
        .title {
          font-weight: 700;
        }
        .select {
          padding-left: 15px;
          line-height: 38px;
          border: 1px solid #ddd;
          color: #333;
          font-size: 14px;
        }
      }
      &__info {
        @include media-tamo() {
          display: none;
        }
        .title {
          color: #333;
          font-weight: 700;
        }
        ul {
          margin-top: 20px;
          li {
            color: #333;
            font-weight: 700;
          }
          strong {
            display: inline-block;
            width: 80px;
            margin-right: 50px;
            font-weight: 400;
          }
          .q {
            display: inline-block;
            text-align: center;
            line-height: 20px;
            font-size: 14px;
            color: #aaa;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            border: 1px solid #ddd;
            cursor: pointer;
          }
        }
      }
      &__price {
        p {
          color: #a1a1a1;
          font-weight: 700;
          font-size: 14px;
        }
        .line-through {
          display: inline-block;
          text-decoration: line-through;
          margin-left: 10px;
        }
        .price {
          font-weight: 700;
          font-size: 28px;
          .color-red {
            display: inline-block;
            margin-right: 8px;
          }
        }
      }
      .btn {
        display: inline-flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: #5D04D9;
        border-radius: 10px;
        height: 70px;
        color: white;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        @include media-tamo() {
          display: none;
        }
      }
    }
  }
}


.atype {
  .imgwrap {
    display: none;
    @include media-tamo() {
      display: block;
      padding-top: 48px;
      background: #F6F6F6;      
    }
    p {
      color: #333;
      font-size: 24px;
      text-align: center;
      line-height: 30px;
      letter-spacing: -1px;
      font-weight: 900;
    }
    .img {
      margin: 0 auto;
      width: 320px;
      height: 351px;
      background: url($route + '/bird_tutor_mo_img.png') no-repeat center;
      background-size: contain;
    }
  }
}
.early-bird {
  padding: 100px 0;
  background: #001F6E;
  color: white;

  @include media-tamo {
    padding: 82px 0 80px 0;
  }

  p {
    font-size: 34px;
    text-align: center;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -1px;

    @include media-tamo {
      margin-bottom: 60px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  .img {
    display: block;
    margin: 0 auto;
    margin-top: 127px;
    width: 996px;
    height: 507px;
    background: url($route + "/bird_boon_pc_img.png") no-repeat center;
    background-size: 996px 507px;

    @include media-tamo {
      display: none;
    }
  }

  .img1,
  .img2 {
    display: none;

    @include media-tamo {
      display: block;
      margin: 0 auto;
    }
  }

  .img1 {
    width: 300px;
    height: 410px;
    background: url($route + "/bird_boon01_mo_img.png") no-repeat center;
    background-size: contain;
  }

  .img2 {
    margin-top: 82px;
    width: 300px;
    height: 497px;
    background: url($route + "/bird_boon02_mo_img.png") no-repeat center;
    background-size: contain;
  }
}

// 
.count-down {
  background: #f6f6f6;
  padding: 100px 0;
  text-align: center;

  @include media-tamo {
    padding: 89px 0;
  }

  &.is-date-end {

    // TODO: 기간 오늘일때 
    .day,
    .timer {
      display: none;
    }

    .title-img {
      margin: 0 auto;
      width: 259px;
      height: 259px;
      background: url($route + "bird_end_mo_img.png") no-repeat center;
      background-size: contain;
    }
  }

  .day {
    margin-top: 81px;

    @include media-tamo {
      margin-top: 45px;
    }

    .count-down__number {
      position: relative;
      width: 105px;
      height: 123px;
      font-size: 122px;
      line-height: 113px;
      margin: 0 5px;

      @include media-tamo {
        width: 60px;
        height: 70px;
        font-size: 70px;
        line-height: 66px;
        border-radius: 5px;
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        background: #3D3763;
        height: 5px;
        content: '';

        @include media-tamo {
          height: 3px;
        }
      }

      span {
        position: relative;
        z-index: 1;
        font-weight: inherit;
      }
    }
  }

  .date-end {
    display: none;
  }

  .d-img,
  .count-down__number {
    vertical-align: middle;
  }

  .d-img {
    display: inline-block;
    margin-right: 14px;
    width: 176px;
    height: 123px;
    background: url($route + "bird_d_pc_img.png") no-repeat center;
    background-size: contain;

    @include media-tamo {
      width: 99px;
      height: 70px;
      background: url($route + "bird_d_img.png") no-repeat center;
      background-size: contain;
    }
  }

  &__number {
    display: inline-block;
    margin: 0 1px;
    width: 62px;
    height: 87px;
    border-radius: 10px;
    background: #150e40;
    color: white;
    text-align: center;
    font-weight: 700;
    @include font(roboto);
    font-size: 50px;
    line-height: 84px;

    @include media-tamo {
      width: 35px;
      height: 50px;
      border-radius: 5px;
      font-size: 40px;
      line-height: 46px;
    }
  }

  .timer {
    margin-top: 42px;
    color: #001f6e;
    font-size: 50px;
    @include font(roboto);

    @include media-tamo {
      margin-top: 21px;
    }

    .dot {
      position: relative;
      display: inline-block;
      width: 24px;

      &:before,
      &:after {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        width: 7px;
        height: 7px;
        background: #001f6e;
        border-radius: 50%;
        content: '';
      }

      &:before {
        top: -20px;
      }

      &:after {
        bottom: 0;
      }
    }
  }

  .title-img {
    margin: 0 auto;
    width: 507px;
    height: 50px;
    background: url($route + "bird_dday_pc_img.png") no-repeat center;
    background-size: contain;

    @include media-tamo {
      width: 256px;
      height: 82px;
      background: url($route + "bird_dday_mo_img.png") no-repeat center;
      background-size: contain;
    }
  }
}

.happy-allpass {
  padding: 100px 0;
  text-align: center;
  background-color: #fff;

  @include media-tamo {
    padding: 72px 0 41px 0;
  }

  &__title {
    margin-bottom: 30px;
    color: #333;
    font-size: 50px;
    font-weight: 900;
    line-height: 65px;
    letter-spacing: -2px;

    @include media-tamo {
      margin-bottom: 39px;
      font-size: 25px;
      letter-spacing: -1px;
      line-height: 32px;
    }
  }

  &__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 48px;
    color: #5d04d9;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4em;
    letter-spacing: -1px;

    @include media-tamo {
      font-size: 20px;
    }

    .plus {
      display: flex;
      width: 34px;
      height: 34px;
      margin-right: 8px;
      margin-left: 8px;
      font-size: 0;
      color: transparent;
      background: url($eventHappyImageUrl + 'oh_365plus_ico.png') no-repeat 0 0;
      background-size: 100%;

      @include media-tamo {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__first {
    height: 2388px;
    color: transparent;
    background: #5D04D9 url($eventHappyImageUrl + 'oh_365_mo01_img.jpg') no-repeat 50% 0;
    background-size: auto 100%;
  }

  &__second {
    height: 1941px;
    color: transparent;
    background: #F0F0F0 url($eventHappyImageUrl + 'oh_365_mo02-1_img.jpg') no-repeat 50% 0;
    background-size: auto 100%;
  }

  &__visual {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    color: #fff;
    background: url($eventHappyImageUrl + 'oh_365_hand_img.jpg') no-repeat 50% 50%;
    background-size: auto 100%;

    &__desc {
      font-size: 25px;
      font-weight: 70;
      line-height: 30px;
      letter-spacing: -1px;
      text-align: center;

    }
  }

  .diagram {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 470px;
    margin: 0 auto 111px;

    @include media-tamo {
      width: 300px;
      margin-bottom: 93px;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 240px;
      height: 240px;
      margin: -18px;
      background-color: #979797;
      border-radius: 50%;
      color: #fff;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: -1px;
      mix-blend-mode: multiply;

      @include media-tamo {
        width: 160px;
        height: 160px;
        margin: -8px;
        font-size: 14px;
        line-height: 19px;
      }

      &:first-child {
        margin: 0 20px -40px;
      }

      &--speaking {
        background-color: #64FAF1;
        color: #000;
      }

      &--writing {
        background-color: #5D04D9;
      }
    }

    &__point {
      display: block;
      margin: 10px 0 17px 0;
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      @include font(roboto);
      font-weight: 700;

      @include media-tamo {
        margin: 7px 0 7px 0;
        font-size: 20px;
      }
    }
  }
}

.explan {
  height: 2768px;
  background: #5D05D7 url($eventHappyImageUrl + '/oh_365_pc01_img.jpg') no-repeat center;
  background-size: contain;
  @include media-ta() {
    height: 1604px;
    background: #5D05D7 url($eventHappyImageUrl + '/oh_365_pad01_img.jpg') no-repeat center;
    background-size: contain;
  }
  @include media-mo() {
    height: 2388px;
    background: #5D05D7 url($eventHappyImageUrl + '/oh_365_mo01_img.jpg') no-repeat center;
    background-size: contain;
  }
}

.purple-mobile {
  p {
    color: white;
    font-size: 50px;
    line-height: 65px;
    font-weight: 700;
    @include media-tamo {
      font-size: 25px;
      line-height: 30px;
    }
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 620px;
    background: url($eventHappyImageUrl + 'oh_365_hand_img.jpg') no-repeat center;
    background-size: cover;
  }
}

.cards {
  .img {
    width: 100%;
    height: 3248px;
    background: url($eventHappyImageUrl + '/oh_365_pc02-1_img.jpg') no-repeat center;
    background-size: cover;
    @include media-mo {
      height: 1789px;
      background: url($eventHappyImageUrl + '/oh_365_mo02-1_img.jpg') no-repeat center;
      background-size: cover;
    }
  }
}

.Pride {
  padding: 100px 0 76px 0;
  background: #000;
  .title {
    color: #cf9f50;
    font-size: 17px;
    text-align: center;
    @include font(roboto);
    letter-spacing: -2.3px;
    @include media-tamo {
      margin-top: 50px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.5px;
      color: rgba(#c79d54, 0.5);
    }
    strong {
      display: block;
      margin-bottom: 18px;
      letter-spacing: -6px;
      font-weight: 700;
      font-size: 50px;
      @include font(roboto);
      @include media-tamo {
        font-size: 37px;
        color: rgba(#c79d54, 1);
      }
    }
  }
  .img {
    display: none;
    @include media-tamo {
      display: block;
      margin: -20px auto 0 auto;
      width: 111px;
      height: 195px;
      background: url($route2 + '/award_2021_img.png') no-repeat center;
      background-size: contain;
    }
  }
  ul {
    margin-top: 35px;
    text-align: center;
    li {
      display: inline-block;
      vertical-align: middle;
      @include media-tamo {
        display: block;
        margin: 0 auto;
      }
      &:nth-child(1) {
        background: url($route2 + '/award_2019_pc.png') no-repeat center;
        background-size: contain;
        width: 286px;
        height: 97px;
        @include media-tamo {
          margin-top: 54px;
          width: 160px;
          height: 44.5px;
          background: url($route2 + '/award_2021_mo.png') no-repeat center;
          background-size: contain;
        }
      }
      &:nth-child(2) {
        margin: 0 34px;
        background: url($route2 + '/award_2021_pc.png') no-repeat center;
        background-size: contain;
        width: 359px;
        height: 213px;
        @include media-tamo {
          margin: 29px auto 0 auto;
          width: 160px;
          height: 45px;
          background: url($route2 + '/award_2020_mo.png') no-repeat center;
          background-size: contain;
        }
      }
      &:nth-child(3) {
        background: url($route2 + '/award_2020_pc.png') no-repeat center;
        background-size: contain;
        width: 286px;
        height: 97px;
        @include media-tamo {
          margin: 27px auto 0 auto;
          width: 160px;
          height: 46.3px;
          background: url($route2 + '/award_2019_mo.png') no-repeat center;
          background-size: contain;
        }
      }
    }
  }
}

.ontact-review {
	padding-top: 80px;
	padding-bottom: 70px;
	font-size: 0;
	text-align: center;
  background: #f1f1f1;
	@media (min-width: 1200px) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.heading {
		margin-bottom: 34px;
    font-size: 25px;
    font-weight: 800;
    line-height: 32px;
		letter-spacing: -2px;

		@media (min-width: 1200px) {
			margin-bottom: 80px;
      font-size: 40px;
      line-height: 44px;
		}
		&:after {
			content: "";
			display: block;
			width: 140px; height: 28px;
			margin: 20px auto 0;
			background: url("//res.tutoring.co.kr/res/images/evt/202012/pesta/pesta_star_img.png") no-repeat 50% 0;
			background-size: 100% auto;
      @include media-pc {
        margin-top: 32px;
      }
		}
	}
	.review__item {
		width: 320px;
    max-height: 183px;
		margin: 20px auto 0;
		padding: 40px;
		color: #919191;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: -1px;
		background-color: #fff;
		box-shadow: 0px 52px 99px -39px rgba(0, 0, 0, 0.15);
		border-radius: 15px;
		box-sizing: border-box;
		word-break: keep-all;

		@media (min-width: 1200px) {
			display: inline-block;
			margin: 0 10px;
			vertical-align: top;
		}
	}
	.name {
		display: block;
		margin-top: 20px;
		color: #333;
		font-size: 11px;
		font-weight: 600;
		line-height: 1em;
		letter-spacing: -0.5px;		
	}
}

$blue: #0F5EDD;
$deep-blue: #022362;
$pink: #ff4a8b;
$url: 'http://res.tutoring.co.kr/res/images/evt/202106/challenge2/';
@mixin btnViewCertificate {
	position: relative;
	display: block;
	width: 100%; height: 45px;
	margin-right: auto;
	margin-left: auto;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	background-color: #333;
	border-radius: 8px;

	&:after {
		content: "";
		position: absolute; top: 50%; right: 20px;
		width: 8px; height: 8px;
		margin: -1px 0 1px 13px;
		border-top: 2px solid #fff;
		border-right: 2px solid #fff;
		vertical-align: middle;
		box-sizing: border-box;
		transform: rotate(45deg) translateY(-50%);
	}
}
.focus-certificate {
  background: #f1f1f1;
  @include media-tamo() {
    background: #eee;
  }
}
.promotion-certificate {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 70px;
	text-align: center;
	color: #999;
	font-size: 12px;
	line-height: 19px;
	letter-spacing: -1px;

	@media (min-width: 1200px) {
		width: 996px;
		font-size: 12px;
		font-weight: 300;
		line-height: 17px;
	}

	.heading {
		margin-bottom: 10px;
		color: #333;
		font-size: 30px;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: -2px;
	}
	.certificate__image {
		display: block;
		margin: 15px auto 20px;
	}
	.certificate__tip {
		margin: 30px auto 10px;
		padding: 16px;
		color: #666;
		font-size: 14px;
		font-weight: 600;
		line-height: 21px;
		letter-spacing: -0.5px;
		background-color: #e6e6e6;
		border-radius: 10px;
		box-sizing: border-box;
	}

	.button {
		@include btnViewCertificate;
	}
}

.promotion-notice {
	background-color: #eee;

	.heading {
		background-color: #ddd;

		&__button {
			position: relative;
			display: flex;
      max-width: 668px;
			width: 100%; 
			height: 50px;
			margin: 0 auto;
			padding: 0 30px;
			align-items: center;
			justify-content: space-between;
			color: #000;
			font-size: 14px;
			font-weight: 600;
			letter-spacing: -1px;
			box-sizing: border-box;
			cursor: default;

			@media (min-width: 1200px) {
				width: 996px;
				max-width: 996px;
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
	.inner {
		display: block;
		max-width: 668px;
		margin: 0 auto;
		padding: 30px;
		box-sizing: border-box;

		@media (min-width: 1200px) {
			width: 996px;
			max-width: 996px;
			padding-right: 0;
			padding-left: 0;
		}
	}
  
	.notice__title {
		margin-bottom: 10px;
		font-size: 12px;
		font-weight: 600;
		line-height: 20px;
		letter-spacing: -1px;
	}
	.notice__list .list__item {
		position: relative;
		color: #666;
		font-size: 10px;
		line-height: 17px;
		letter-spacing: -0.5px;
		text-indent: 7px;

		&:before {
			content: "\B7";
			position: absolute; top: 0; left: -7px;
			color: #666;
		}
	}
	.notice__list ~ .notice__title {margin-top: 24px;}
  .notice__item {
    @include media-mo() {
      padding-bottom: 100px;
    }
  }
}

.promotion-guide {
  width: 300px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 60px;
  color: #666;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.5px;

  @media (min-width: 1200px) {
    width: 996px;
    margin-right: auto;
    margin-left: auto;
  }

  .heading {
    margin-bottom: 16px;
    color: #f15d5d;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;

    &:before {
      content: "";
      display: inline-block;
      width: 16px; height: 16px;
      margin: -1px 4px 1px 0;
      background-image: url("//res.tutoring.co.kr/res/images/common/ico_comm.png");
      background-repeat: no-repeat;
      background-position: -140px -104px;
      background-size: 220px 188px;
      vertical-align: middle;
    }
  }

  .guide__list .list__item {
    position: relative;
    padding-left: 7px;

    &:before {
      content: "\B7";
      position: absolute; top: 0; left: 0;
      color: #666;
    }
  }
  .guide__list ~ .heading {margin-top: 28px;}
}

$url: "http://res.tutoring.co.kr/res/images/evt/202106/challenge2/";

@mixin type($type : 'basic') {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;
  @if( $type == 'basic') {
    color: #fff;
  }
  @if( $type == 'is-info') {
    color: black;
  }

  .challenge-cta__wrap {
    z-index: 1;
    @if( $type == 'basic') {
      background: rgba(0, 0, 0, 0.9);
      backdrop-filter: blur(10px);
    }
    @if( $type == 'is-info') {
      background: white;
    }
  }
  .wrapper {
    position: relative;
    display: table;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    letter-spacing: -0.5px;
    box-sizing: border-box;
    @include media-tamo {
      padding: 20px 50px;
    }
    @if ( $type == 'is-simple') {
      @include media-mo {
        padding: 10px 30px;
      }
    }
    .textwrap, .btnwrap {
      display: table-cell;
      vertical-align: middle;
    }
    .textwrap {
      text-align: left;
    }
    .btnwrap {
      @if ( $type == 'is-simple') {
        width: 67.2%;
        @include media-ta {
          width: 45vw;
        }
        @include media-mo {
          width: 46%;
        }
      }
    }
    .price {
      display: none;
      @if( $type == 'is-info') {
        display: block;
      }
    }
  }

  .seleted-option {
    display: none;
    @if( $type == 'is-info') {
      display: block;
      p {
        display: inline-block;
      }
    }
  }
  .heading {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    letter-spacing: -0.5px;
    @if( $type == 'basic') {
      margin-right: 8px;
      font-size: 11px;
      color: #fff;
    }
    @if( $type == 'is-simple') {
      margin-right: 36px;
      font-size: 16px;
      color: #999;
      @include media-ta {
        font-size: 14px;
        color: white;
        letter-spacing: 0px;
        margin-right: 20px;
      }
      @include media-mo {
        margin-right: 4px;
        font-size: 11px;
      }
    }
    @if( $type == 'is-info') {
      color: #999;
    }
  }

  .cta__count {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    .number {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
      border: 1px solid #848484;
      box-sizing: border-box;
      @if($type == 'basic') {
        width: 26px;
        height: 32px;
        font-size: 20px;
        color: #333;
        line-height: 32px;
      }
      @if($type == 'is-simple') {
        width: 31px;
        height: 43px;
        font-size: 28px;
        color: white;
        @include font(roboto);
        font-weight: 500;
        line-height: 40px;
        background: linear-gradient(180deg, rgba(94, 94, 94, 0) 0%, #5E5E5E 29.69%);
        @include media-tamo {
          background: white;
          color: #333;
          width: 26px;
          height: 32px;
          font-size: 20px;
          line-height: 28px;
          font-weight: 600;
        }
      }
    }
    .unit {
      display: inline-block;
      vertical-align: middle;
      @if( $type == 'is-simple') {
        margin-left: 8px;
        font-size: 24px;
        font-weight: 600;
        @include media-ta {
          margin-left: 0;
          font-size: 14px;
        }
        @include media-mo {
          font-size: 11px;
          margin-left: 4px;
        }
      }
    }
  }

  .cta__button {
    display: flex;
    width: 100%;
    height: 38px;
    background: #0f5edd;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -1px;
    align-items: center;
    justify-content: center;
    @if( $type == 'is-simple') {
      display: block;
      background: #5D04D9;
      height: 48px;
      font-size: 20px;
      @include media-mo {
        height: 38px;
        font-size: 14px;
      }
    }
    &:after {
      content: "";
      width: 5px;
      height: 5px;
      margin-left: 8px;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: rotate(135deg);
      @if( $type == 'is-simple') {
        content: none;
      }
    }
  }

  .cta__badge {
    position: absolute;
    top: -60px;
    left: -35px;
    width: 110px;
    height: 110px;
    color: transparent;
    background-size: 100%;
    background: url($url + "/challenge2_cta_badge.png") no-repeat 50% 0;
    background-size: 100%;
    display: none;
    @if( $type == 'basic') {
      display: block;
    }
    @media (min-width: 768px) {
      top: -80px;
      left: -100px;
      width: 145px;
      height: 145px;
    }
  }
}

.challenge-cta {
  &.is-simple {
    @include type('is-simple');
  }

  &.is-info {
    @include type('is-info');
  }
  @include type();
}

.sheet {
  position: absolute;
  bottom: calc(-200% - 100px);
  width: 100%;
  color: #000;
  transition: all 0.4s;
  z-index: -1;
  .dim {
    display: none;
  }
  &.is-show {
    bottom: 100%;
    transition: all 0.4s;
    .dim {
      display: block;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background: #959595;
      background-blend-mode: multiply;
      z-index: -1;
    }
  }
  &__wrap {
    border-radius: 10px 10px 0 0;
    background: white;
    padding: 0 20px;
    .btn {
      position: relative;
      height: 50px;
      &:after {
        position: absolute;
        top: 30%;
        right: 0px;
        left: 0;
        width: 10px;
        height: 10px;
        margin: auto;
        border-top: 2px solid #333;
        border-right: 2px solid #333;
        vertical-align: middle;
        box-sizing: border-box;
        transform: rotate(135deg) translateY(-50%);
        content:'';
      }
    }
    .textwrap {
      margin-top: 4px;
      .discount {
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
        background: #ff1212;
        border-radius: 10vw;
        color: white;
        font-size: 10px;
        line-height: 18px;
        min-width: 33px;
        text-align: center;
        font-weight: 700;
      }
      .name {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .info {
      margin-bottom: 15px;
      .option {
        display: inline-block;
        color: #000;
        font-size: 10px;
        letter-spacing: -1px;
        font-weight: 800;
        @include font(roboto);
      }
      .change-btn {
        display: inline-block;
        padding-left: 7px;
        border: 1px solid #dfdfdf;
        border-radius: 10vw;
        color: #919191;
        font-size: 10px;
        min-width: 42.5px;
        line-height: 20px;
        text-align: left;
        box-sizing: border-box;
        margin-left: 6px;
        cursor: pointer;
        .text {
          position: relative;
          &:after {
            position: absolute;
            top: 50%;
            right: -6px;
            width: 4px;
            height: 4px;
            margin: -1px 0 1px 13px;
            border-top: 1px solid #919191;
            border-right: 1px solid #919191;
            vertical-align: middle;
            box-sizing: border-box;
            transform: rotate(45deg) translateY(-50%);
            content:'';
          }
        }
      }
      p {
        margin-top: 15px;
        font-size: 14px;
        font-weight: 600;
        .all {
          display: inline-block;
          margin-left: 8px;
          font-weight: 400;
        }
      }
    }
    .price-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 65px;
      border-top: 1px solid #efefef;
      strong {
        font-size: 16px;
        font-weight: 700;
        @include font(roboto);
      }
      .price-area {
        font-size: 20px;
        font-weight: 700;
        .price {
          color: #ff1212;
          font-weight: 800;
          letter-spacing: -1px;
        }
      }
    }
  }
}